<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>battleAttackSkill_190004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{239,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,60}}</string>
        <key>sourceSize</key>
        <string>{239,60}</string>
      </dict>
      <key>battleAttackSkill_190003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{226,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,63}}</string>
        <key>sourceSize</key>
        <string>{226,63}</string>
      </dict>
      <key>battleAttackSkill_190002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{221,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,60}}</string>
        <key>sourceSize</key>
        <string>{221,60}</string>
      </dict>
      <key>battleAttackSkill_190005.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{184,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,39}}</string>
        <key>sourceSize</key>
        <string>{184,39}</string>
      </dict>
      <key>battleAttackSkill_190001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,0},{173,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,63}}</string>
        <key>sourceSize</key>
        <string>{173,63}</string>
      </dict>
      <key>battleAttackSkill_190006.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,39},{109,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,31}}</string>
        <key>sourceSize</key>
        <string>{109,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slash.png</string>
      <key>size</key>
      <string>{822,120}</string>
      <key>textureFileName</key>
      <string>slash</string>
    </dict>
  </dict>
</plist>
